
$principal: #C58911;
$azulOsc: #16262E;
$blanco: #E9E9E9;
$secundario: #BFB48F;
$font-size: 16px;
$font-name: 'Poppins';
$font: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap";
